[tools]
"aqua:casey/just" = "1.43.1"
"aqua:cli/cli" = "2.83.1"
"aqua:evilmartians/lefthook" = "1.13.6"
"aqua:jqlang/jq" = "1.8.1"
"aqua:mikefarah/yq" = "4.48.2"
"go" = "1.25"

[hooks]
postinstall = [
  "mkdir -p {{config_root}}/.cache",
]
